{% extends "layout.html" %}
{% block content %}
  <article class="media content-section" style="border: 1px solid black; box-shadow: 0 0 20px 0px rgb(20, 20, 20),0 0 10px 0px rgba(10, 10, 10, 0)">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>

      <div class="accordion">
      {% for image in images %}
        <div class="tab">
          <img src="{{ url_for('static', filename='product_pictures/' + image) }}" alt="">
        </div>
      {% endfor %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
      <small class="info alert alert-success p-1"> &#8377 {{ post.price }}</small>  
    </div>
    <div class="contact-info mt-4">
      <div class="fw-bold">Contact Info:</div>
      <ul class="list-group list-group-light">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <div class="fw-bold">{{ post.author.username }}</div>
            <div class="text-muted">{{ post.author.email }}</div>
          </div>
          <span class="badge rounded-pill badge-success">Active</span>
        </li>
      </ul>
    </div>
  </article>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="btn close" data-dismiss="modal" aria-label="Close"><strong>&times;</strong></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}